*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
font-family: 'Roboto',sans-serif;
}

html {
    background-color: white;
}

.content{
    padding: 1rem;
    background-color: #F0F2F6;
    height: 100vh;
    width: 100vw;
}

.content h1{
  margin: 0;
}

@media screen and (min-width:992px) {
    .content{
        max-width: 992px;
        margin: 0 auto;
        height: auto;
        border-radius: 1rem;

    }
}
    


